Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
build/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.log
*.tmp
*.swp
*.user
*.suo
.vscode/
httpserver
debug
.DS_Store
*.sln
*.vcxproj
*.filters
..gitignore.un~
.gitignore~
.idea/
*.iml
out/
log/
.vs/